body{
   background-color: rgb(255, 255, 255); 
}

div.button{
    text-align: center;
    margin-top: 45px;
}
input{
    margin-bottom: 20px;
    width:180px;
    padding:20px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #5a5b63;
    border: solid 2px #3f3c3c;
    border-radius: 3px;
    transition: .4s;
    background: #4d4a4a;
    color: white;
  }
